th, tr, h1, h2, h3, h4, h5  #time-left, #start-button {
	text-align: center;
}

td, #data {
	padding-bottom: 50px;
}

#question {
	text-align: center;
	width: 75%;
	margin: auto;
}

.col-md-12, .col-lg-12{
	text-align: center;
	padding: 5px;
}

#main-content {
	position: absolute;
	width: 100%;
	height: 500px;
	overflow: auto;
	background-image: url(../images/beatles.bkg.jpeg);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
}

#game-panel {
	width: 100%;
	height: 200px;
}

#picture-section {
	align-items: center;
	width: 50%;
	margin-left: 25%;
}

#bottom-section {
	float: bottom;
	align-items: center;
}